doctype html
html
	head
		title= title
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css", rel="stylesheet")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
	body
		header.navbar.navbar-static-top
			div.container
				a.navbar-brand(href="/admin") Backend
				ul.nav.navbar-nav.pull-right
					li
						a(href="/admin/products") Products
					li
						a(href="/#/") Return to Front
		main
			div.container
				block body

	footer
	div.container
		p.text-center
			em Administration panel for the shop